<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465067529164-4t34nigufethn1t2s2qcak5fuc7142jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465067529164-4t34nigufethn1t2s2qcak5fuc7142jh</string>
	<key>API_KEY</key>
	<string>AIzaSyD6guLJOZWRnfTlD8EgFce43g1_nmGGkes</string>
	<key>GCM_SENDER_ID</key>
	<string>465067529164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.manhtoan.technews</string>
	<key>PROJECT_ID</key>
	<string>ab-fut</string>
	<key>STORAGE_BUCKET</key>
	<string>ab-fut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465067529164:ios:b240c9d0a781f1a89b4369</string>
	<key>DATABASE_URL</key>
	<string>https://ab-fut.firebaseio.com</string>
</dict>
</plist>